@charset "utf-8";

.wall_module .reply_link_wrap .reply_link {
    visibility: hidden !important;
}

/*
.wall_module .replies_wrap,
#wl_replies_wrap,
#wl_reply_form_wrap,
#mv_comments_wrap,
#mv_your_comment,
#pv_comments,
#pv_comments_header,
#pv_your_comment {
    display: none !important;
    visibility: hidden !important;
}
*/
body:after {
    position: fixed;
    content: "Hello";
    top: 5px;
    right: 5px;
    padding: 6px 12px;
    background-color: #ffc;
    border: 1px solid #ddd;
    z-index: 9999;
}
.price-in-usd {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100px;
    padding: 5px;
    font-size: 1.2em;
    height: 30px;
    background: transparent;
    color: #333;
    font-weight: bold;
    text-shadow: 1px 1px 0px #f1f1f1,-1px -1px 0px #f1f1f1,-1px 1px 0px #f1f1f1,1px -1px 0px #f1f1f1,-2px 0 0px #f1f1f1,0px -2px 0px #f1f1f1,2px 0px 0px #f1f1f1,0px 2px 0px #f1f1f1;
}
.price-in-usd a,
.main-page-price-in-usd a {
    text-decoration: none;
}
.main-page-price-in-usd {
    color: #333;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 0px #f1f1f1,-1px -1px 0px #f1f1f1,-1px 1px 0px #f1f1f1,1px -1px 0px #f1f1f1,-2px 0 0px #f1f1f1,0px -2px 0px #f1f1f1,2px 0px 0px #f1f1f1,0px 2px 0px #f1f1f1;
}