@charset "utf-8";
body:after{
    content: 'At work';
    display: block;
    position: fixed;
    height: 20px;
    width: 100px;
    text-align: center;
    background: red;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #fff;
    line-height: 1.6;
    top: 5px;
    left: 5px;
    z-index: 9999;
}
.conpliteGettPriceFromSteam:after {
    position: fixed;
    content: "Complite";
    padding: 6px 12px;
    color: #fff;
    background-color: #8c5;
}
.price-in-usd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    padding: 5px;
    font-size: 0.9em;
    height: 30px;
    background: transparent;
    color: #333;
    font-weight: bold;
    text-shadow: 1px 1px 0 #f1f1f1,
    -1px -1px 0 #f1f1f1,
    -1px 1px 0 #f1f1f1,
    1px -1px 0 #f1f1f1,
    -2px 0 0 #f1f1f1,
    0 -2px 0 #f1f1f1,
    2px 0 0 #f1f1f1,
    0 2px 0 #f1f1f1;
}
.main-page-price-in-usd {
    color: #333;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 0 #f1f1f1,
    -1px -1px 0 #f1f1f1,
    -1px 1px 0 #f1f1f1,
    1px -1px 0 #f1f1f1,
    -2px 0 0 #f1f1f1,
    0 -2px 0 #f1f1f1,
    2px 0 0 #f1f1f1,
    0 2px 0 #f1f1f1;
}
.price-in-usd a,
.main-page-price-in-usd a {
    text-decoration: none;
}
